@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300,700');
$ccRed: #A81715;
$ccGray: #707070;
$panelBackground: white;
$bodyTextColor: #232323;
$offWhite: #cdcdcd;
$coffeeCupLid: #231f20;
$coffee: #926d59;
$logoSkin: #f1dbcb;
$logoRed: #ff2416;
.text p:target {
    background: red;
}

.portfolio {
    display: grid;
    //grid: auto / repeat(auto-fit, minmax(15em, 1fr));
    grid-template-columns: 10px;
    grid-gap: 0.1em;
    background: $ccGray;
    padding: 0.5em;
    grid-auto-flow: column;
    overflow-x: scroll;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    scroll-snap-type: x proximity;
    // SET THE WIDTH OF THE GALLERY ITEMS, ALONG WITH OVERFLOW-X, THIS MEANS IT CAN SCROLL HORIZ
    grid-auto-columns: calc(40% - 20px * 2);
    @media screen and (min-width: 500px) {
        grid-auto-columns: calc(30% - 20px * 2);
    }
    @media screen and (min-width: 700px) {
        grid-auto-columns: calc(20% - 20px * 2);
    }
    &:before,
    &:after {
        content: "";
        width: 10px;
    }
}

.portfolio__item {
    position: relative;
    margin: 0;
    padding: 0;
    flex-basis: 30%;
    background: white;
    scroll-snap-align: center;
    justify-content: center;
}

.portfolio__image {
    max-width: 30vw;
    max-height: 200px;
}

.portfolio-lightbox__image {
    max-height: 80vh;
    width: 100%;
    object-fit: contain;
}

.portfolio-lightbox {
    display: grid;
    //align-items: center;
    //justify-content: center;
    transform: scale(0, 1);
    transition: transform 150ms ease-in-out;
    transform-origin: right;
    //padding: 2em;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    background: rgba(0, 0, 0, .8);
    //width: 100vw;
    //height: 100vh;
    z-index: 10;
}

.portfolio-lightbox:target {
    transform: scale(1, 1);
    max-width: calc(100vw-1.6rem);
    transform-origin: bottom;
}

.portfolio-lightbox__content {
    position: relative;
    width: 80vw;
    align-self: center;
    justify-self: center;
    display: flex;
    //padding: 1em;
    justify-content: center;
}

.portfolio__lightbox__image {
    margin-bottom: 1em;
}

.portfolio__image,
.portfolio-lightbox__image {
    width: 100%;
    display: block;
}

.portfolio__image {
    object-fit: cover;
    height: 100%;
}

.portfolio-lightbox__image {
    //object-fit: cover;
}

.close {
    position: absolute;
    //right: 20vw;
    //top: -1em;
    //left: calc(50vw - 1em);
    //transform: translateX(-10vw);
    transform: translateX(0vw) translateY(1em);
    border: white 2px solid;
    display: flex;
    width: 2.5em;
    height: 2em;
    background: $ccRed;
    //border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    align-self: flex-end;
    justify-self: center;
}

.portfolio__title {
    padding: 0 0.5rem;
}

.portfolio__body {
    padding: 0 0.5rem;
}

.close::after {
    content: 'x';
    color: white;
}

.panel__gallery {
    display: grid;
}

.panel--title {
    background: $ccGray;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 10;
    position: relative;
    padding: 2px 8px 0px 6px;
    margin-bottom: -6px;
    .panel--gallery--title {
        font-size: 1.5rem;
        transform: skew(15deg);
    }
}